<div class="row">
  <div class="col-12">
    <img src="#" alt="" class="img-fluid">
  </div>

</div>
<div class="row">
  <div class="col-12">
    <h1>Nombre de la receta</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="btn-group">
      <button class="btn btn-primary dropdown-toggle">Administrar Recetas
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a href="#">A la lista de compra</a>
        </li>

        <li>
          <a href="#">Editar receta</a>
        </li>
        <li>
          <a href="#">Eliminar Receta</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Descripción
  </div>
</div>
