<div class="row">
  <div class="col-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="nombre">Nombre</label>
          <input type="text" name="nombre" value="" class="form-control" name="nombre">
        </div>
        <div class="col-sm-2 form-group">
          <label for="cantidad">Cantidad</label>
          <input type="number" name="cantidad" id="cantidad" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-success">Agregar</button>
          <button type="button" class="btn btn-danger">Quitar</button>
          <button type="button" class="btn btn-priary">Limpiar</button>

        </div>
      </div>
    </form>
  </div>
</div>
